body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #FAFCF9;
    height: 100%;
    width: 100%;
   
}
.heading-section{
    margin-top: 0px;
    height: 100vh;
    background-image: url(../Assets/Laoag-City-Ilocos-Norte.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #e9f1f5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar */
.nav-bar {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional, to add transparency */
}

.nav-bar ul {
    list-style-type: none;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.nav-bar ul li {
    margin-left: 20px;
}

.nav-bar ul li a {
    color:  #e9f1f5;
    text-decoration: none;
    font-size: 16px;
}

.nav-bar ul li a:hover {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

.nav-bar ul li a:active {
   color: black;
}

/* Hero Content */
.heading-content h1 {
    font-size: 5em;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds shadow to text */

}   

.heading-content h2 {
    margin-top: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-section{
    margin-top: 6rem;
}

.hero-section h2{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 5rem;
}

.hero-contents{
    display: flex;
    justify-content: center;
    align-items: top;
}

.hero-text{
    font-size: 1.5em;
    width: 800px;
    margin-right: 2rem;
}

#hero-first-p{
    font-weight: bolder;
} 

