*,
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #fafcf9;
}
span {
  font-weight: bold;
}

h2 {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 1em;
}

p {
  line-height: 35px;
  font-size: 1rem;
  text-align: justify;
}
.intro-section {
  background: url("/images/Laoag-City-Ilocos-Norte.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; /* Full viewport height */
  color: white;
  position: relative;
  padding-top: 5rem; /* Add padding if needed */
  margin: 0;
}

.intro-section h1 {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Make text stand out */
}

.intro-section p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Add shadow for readability */
  font-size: 5px;
  margin: auto;
}

#hero,
#history-section,
#visit-section,
#discover-section {
  margin: 7em 0;
}

.history-landmark-container, .visit-pictures-container,.discover-img{
  margin-top: 1.5em;
}

.discover-img{
  margin-bottom: 2em;
}

img {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.history-landmark-container img,
.visit-pictures img {
  margin-bottom: 1em;
}

footer p,
footer span {
  font-size: 0.75rem;
}
.footer-section {
  background-color: #dae2e7;
  padding: 1rem;
}

.footer-intro-credit,
.footer-intro-credit-p {
  font-weight: bold;
  text-align: center;
}

.footer-intro-credit-p {
  font-weight: normal;
}

.footer-intro-span {
  display: block;
  text-align: center;
  font-weight: normal;
}
footer p {
  text-align: center;
  font-weight: bold;
}

.footer-info-section {
  margin: 0;
}
.footer-info-section span {
  display: block;
  font-weight: normal;
  text-align: center;
}

#credits {
  font-weight: bolder;
}

.footer-texts-cols {
  display: flex;
  justify-content: center;
}

.info-text {
  display: block;
}

@media (min-width: 768px )  {
  .footer p,
  .footer-info-section span,
  .footer-texts-cols,
  .footer-info-section,
  .footer-info-section p,
  footer p,
  footer span {
    font-size: 0.75rem;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1024px){
  .footer p,
  .footer-info-section span,
  .footer-texts-cols,
  .footer-info-section,
  .footer-info-section p,
  footer p,
  footer span {
    font-size: 0.85rem;
    text-align: start;
  }

  .section-paragraphs {
    font-size: 2.75rem;
  }

  .discover-contents,
  .visit-contents,
  .history-contents,
  .hero-contents {
    margin-top: 3em;
    margin-bottom: 5em;
  }

  .hero-contents img, .discover-img img , .history-pictures, .visit-pictures{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .history-pictures{
    width: 70%;
  }
  
  .visit-pictures{
    width: 70%;
    margin-bottom: 1em;
  }

  .visit-pictures-container{
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .hero-contents {
    margin-top: 3em;
    margin-bottom: 10em;
    display: flex;
    justify-content: space-around;
  }

  .hero-contents img{
    margin-right: 1.5em;
  }
}
