
*,html,body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box ;
}


body{
  background-color: #FAFCF9;
}
span{
  font-weight: bold;
}

h2{
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 1em;
}

p{
  line-height: 35px;
  font-size: 1rem;
  text-align: justify;
}
.intro-section {
  background: url("/images/Laoag-City-Ilocos-Norte.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; /* Full viewport height */
  color: white;
  position: relative;
  padding-top: 5rem; /* Add padding if needed */
  margin: 0;
}

.intro-section h1 {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Make text stand out */
}

.intro-section  p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Add shadow for readability */
  font-size: 5px;
  margin: auto;
}

#hero,#history-section,#visit-section,#discover-section {
  margin: 2em 0;
}

img{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.history-landmark-container img, .visit-pictures img{
  margin-bottom: 1em;
}

.footer-section{
  background-color: #dae2e7;
  padding: 1rem
}

.footer-intro-credit,.footer-intro-credit-p{
  font-weight: bold;
  text-align: center;
}

.footer-intro-credit-p{
  font-weight: normal;
}

.footer-intro-span{
  display: block;
  text-align: center;
  font-weight: normal;
}
footer p{
  text-align: center;
  font-weight: bold;

}

.footer-info-section{
  margin: 0;
}
.footer-info-section span{
  display: block;
  font-weight: normal;
  text-align: center;
}


#credits{
  font-weight: bolder;
}

.footer-texts-cols{
  display: flex;
  justify-content: center;
  
 
}

.info-text{
  display: block;
}


@media (min-width: 992px){
  .footer p, .footer-info-section span, .footer-texts-cols, .footer-info-section, .footer-info-section p{
    text-align: start;
  }
}