.navbar {
    background-color: #f0f0f0; /* Change background color */
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #333; /* Change link color */
  }
  
  .navbar-dark .navbar-toggler {
    border-color: #ddd; /* Change toggle button border color */
  }

.navbar {
    background-color: #f8f9fa; /* Light background color */
    
  }
  
  .toggle-button{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.7%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* White toggle icon */
  }
  
  